<div *ngIf="email!=''">
  You are logged in as {{email}}
</div>

<br/>
<div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Author</th>
          <th>Movie</th>
          <th>Rating</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{movie.author}}</td>
          <td>{{movie.movie}}</td>
          <td>{{movie.rating}}</td>
          <td>{{movie.comment}}</td>
        </tr>
      </tbody>
    </table>
</div>
