<form #userForm="ngForm" (ngSubmit)="saveUser()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Register user</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched" [class.has-success]="firstName.valid">
        <label for="firstName" class="control-label">First name</label>
        <input type="text" required id="firstName" [(ngModel)]="user.firstName" name="firstName" class="form-control" #firstName="ngModel">
        <span class="help-block" *ngIf="firstName.invalid && firstName.touched">First name is required</span>
      </div>

      <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched" [class.has-success]="lastName.valid">
        <label for="lastName" class="control-label">Last name</label>
        <input type="text" required id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" #lastName="ngModel">
        <span class="help-block" *ngIf="lastName.invalid && lastName.touched">Last name is required</span>
      </div>

      <div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
              <input type="radio" required value="male" name="gender" [(ngModel)]="user.gender" #gender="ngModel">
              Male
          </label>
          <label class="radio-inline">
              <input type="radio" required value="female" name="gender" [(ngModel)]="user.gender" #gender="ngModel">
              Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">Gender is required</span>
      </div>

      <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched" [class.has-success]="contactPreference.valid">
          <label class="control-label">Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
                <input type="radio" required value="email" name="contactPreference" [(ngModel)]="user.contactPreference" #contactPreference="ngModel">
                Email
            </label>
            <label class="radio-inline">
                <input type="radio" required value="phone" name="contactPreference" [(ngModel)]="user.contactPreference" #contactPreference="ngModel">
                Phone
            </label>
          </div>
          <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">Contact Preference is required</span>
        </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input type="text" [required]="contactPreference.value=='email'" [email]="!user.email=='' && contactPreference.value=='email'" id="email" [(ngModel)]="user.email" name="email" class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="help-block" *ngIf="email.errors?.email">Email is not valid</span>
      </div>

      <div class="form-group" [class.has-error]="phone.invalid && phone.touched">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input type="text" id="phoneNumber" [required]="contactPreference.value=='phone'" [(ngModel)]="user.phoneNumber" name="phoneNumber" class="form-control" #phone="ngModel">
        <span class="help-block" *ngIf="phone.invalid && phone.touched">Phone Number is required</span>
      </div>

      <div class="row">
        <div class="form-group col-md-5" [class.has-error]="dateOfBirth.invalid && dateOfBirth.touched">
            <label for="dateOfBirth" class="control-label">Date Of Birth</label>
            <input type="text" required bsDatepicker [bsConfig]="datePickerConfig" placement="right" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" class="form-control" #dateOfBirth="ngModel">
            <span class="help-block" *ngIf="dateOfBirth.invalid && dateOfBirth.touched">Date of birth is required</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="password.invalid && password.touched">
          <label for="password" class="control-label">Password</label>
          <input type="password" required id="password" [(ngModel)]="user.password" name="password" class="form-control" #password="ngModel">
          <span class="help-block" *ngIf="password.errors?.required && password.touched">Password is required</span>
      </div>

      <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched">
          <label for="password" class="control-label">Confirm password</label>
          <input type="password" required appConfirmEqualValidator="password" id="confirmPassword" [(ngModel)]="confirmPasswordVerify" name="confirmPassword" class="form-control" #confirmPassword="ngModel">
          <span class="help-block" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">Confirm password is required</span>
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">Password and Confirm Password does not match</span>
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>

Angular Generated : {{userForm.value | json}}
<br/>
<br/>
Our user model : {{ user | json }}
